/*Se importan las fuentes Work Sans y Righteous de google fonts para variar el estilo*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/*Header*/

.iframeHeader{
    width: 100% !important;
    height: 90px !important;
    display: block !important;
}

.contenedor-header{
    background: #1e2326;
    position: fixed;
    width: 100%;
    height: 90px;
    top: 0;
    left: 0;
    z-index: 99;
}

.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.contenedor-header header .logo a{ 
    font-family: 'Righteous';
    font-size: 36px;
    color: rgb(255, 136, 0);
    text-decoration: none;
}

.contenedor-header header ul{
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 5px;
    transition: .5s;
    text-decoration: none;
}

.contenedor-header header nav ul li a:hover{
    color: rgb(255, 136, 0);

}

.nav-responsive{
    background-color: rgb(255, 136, 0);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/*Inicio*/

.inicio{
    background: linear-gradient(to top, rgba(30,35,38,.9), rgba(30,35,38,1)), url(/Resources/images/wallpaper.jpg);
    background-size: cover;
    height: 90vh;
    color: #fff;
    display: flex;
    align-items: center;
}

.inicio .contenido-banner{
    padding: 20px;
    background-color: #22282c;
    max-width: 350px;
    margin: auto;
    margin-top: 0px;
    text-align: center;
    border-radius: 40px;
}

.inicio .contenido-banner img{
    margin-top: 40px;
    border: 10px solid rgb(255, 136, 0);
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}

.inicio .contenido-banner h1{
    margin-top: 40px;
    font-size: 37px;
    font-family: 'Righteous';
}

.inicio .contenido-banner h2{
    font-size: 15px;
    font-weight: normal;
}

.inicio .contenido-banner .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 30px 10px;
    font-size: 20px;
    transition: .5s;
}

.inicio .contenido-banner .redes a:hover{
    background-color: rgb(255, 136, 0);
}

/*Sobre Mi*/

.sobremi{
    background: linear-gradient(to top, rgba(30,35,38,.9), rgba(30,35,38,1)), url(/Resources/images/wallpaper.jpg);
    background-size: cover;
    color: #fff;
    padding:60px 20px;
}

.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.sobremi h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.sobremi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.sobremi .contenido-seccion p span{
    color: rgb(255, 136, 0);
    font-weight: bold;
}

.sobremi .fila{
    display: flex;
}

.sobremi .fila .col{
    width: 50%;
}


.sobremi .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
#intereses{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
    text-align: center;
}

.sobremi .fila .col ul{
    list-style: none;
}

.sobremi .fila .col ul li{
    margin: 12px 0;
}

.sobremi .fila .col ul li strong{
    display: inline-block;
    color: rgb(255, 136, 0);
    width: 130px;
}

.sobremi .fila .col .contenedor-intereses {
    position: relative;
    width: 100%;
    height: 130px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobremi .fila .col .contenedor-intereses .interes {
    position: absolute;
    width: 110px;
    height: 110px;
    background-color: #252A2E;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    opacity: 0;
    transform: translateX(150px) scale(0.8);
}

.sobremi .fila .col .contenedor-intereses .interes i{
    font-size: 28px;
    margin-bottom: 10px;
}

.sobremi .fila .col .contenedor-intereses .interes.active,
.sobremi .fila .col .contenedor-intereses .interes.prev,
.sobremi .fila .col .contenedor-intereses .interes.next {
    opacity: 1;
}

.sobremi .fila .col .contenedor-intereses .interes.active {
    transform: translateX(0) scale(1);
    z-index: 2;
    background-color: rgb(255, 136, 0);
}

.sobremi .fila .col .contenedor-intereses .interes.prev {
    transform: translateX(-130px) scale(0.9);
    z-index: 1;
}

.sobremi .fila .col .contenedor-intereses .interes.next {
    transform: translateX(130px) scale(0.9);
    z-index: 1;
}

.cv-container {
    display: flex;
    justify-content: center;
}

.sobremi a {
    text-decoration: none;
    display: inline-block;
}

.sobremi button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
    text-align: center;
}

.sobremi button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgb(255, 136, 0);
    z-index: -1;
    transition: 1s;
}

.sobremi button:hover .overlay {
    width: 100%;
}